.btn{
    padding: 0.5 1.2em;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.Card{
    border: none;
    border-radius: 5px;
    //INSERT CARD STYLES
    height: 300px;
    width: 400px;
    border: 2px solid black;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}